.form-wrapper {
    color: white;
}

body {
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 48px;
}

label {
    display: flex;
    flex-direction: column;
}

.btn-danger {
    background-color: rgb(119, 25, 25);
}

.errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    color: red;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border-width: 2px;
}
.alternative-auth-wrapper{
    display: flex;
    flex-direction: column;
    height: 200px;
    widtH: min-content;
}
@media(max-width: 1200px) {
    .form-wrapper {
        min-width: 100vw;
    }

    label {
        width: 100%;
    }

    form {
        width: 500px;
        display: flex;
        justify-content: center;
        font-size: 44px;
    }
}