
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}
.errors{
    color: red;
}
button{
    border-width: 2px;
}