
    /* body :not(.bs-scope):not(.bs-scope *) {
      all: revert;
    } */
body {
    padding: 0;
    margin: 0;
}
:root {
    font-family:
        "Pixelify Sans"
    ;
    background-color: black;
    color: white;
    font-size: 22px;
    min-height: 100vh;
    padding: 0;
}
main {
    max-width: 800px;
    min-height: 100vh;
    margin: 2rem auto;
}

button {
    padding: .6rem 1rem;
}
.ui{
    margin-top: 20px;
    position: absolute;
}
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 32px;
}

.icon-small {
    width: 18px;
}

.icon-medium {
    width: 24px;
}

.icon-large {
    width: 36px;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p1{
    color: rgb(255, 201, 209);
}
.wanderer{
    color: rgb(253, 250, 199);
}
.apprentice {
    color: rgb(171, 253, 139);
}

.archivist {
    color: rgb(109, 232, 248);
}

.conjurer {
    color: rgb(165, 117, 255);
}

.root {
    color: tomato;
}

.page-title {
    z-index: 9999;
    position: fixed;
    top: 7vh;
    font-size: 42px;
}

.hidden-button {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    display: inherit;
    color: white;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

form {
    font-family:
        "Pixelify Sans"
    ;
}
button{
        font-family:
        "Pixelify Sans"
    ;
    color: white;
}
input {
    font-family:
        "Pixelify Sans"
    ;
    font-size: 22px;
}
::-webkit-scrollbar{
    width: 4px;
    background-color: gray;
}