:root {
    font-family:
        "Pixelify Sans"
    ;
    background-color: black;
    color: white;
    font-size: 22px;
    min-height: 100vh;
}

main {
    max-width: 800px;
    min-height: 100vh;
    margin: 2rem auto;
    padding: 1rem;
}

button {
    padding: .6rem 1rem;
}
