:root {
    font-family: system-ui, sans-serif;
    background-color: black;
    color: white;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

button {
    padding: .6rem 1rem;
}
.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 15, 24);
   
}

.footer-item {
    width: 128px;
}