.map-name-form {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 84px;
}

.new-game-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.name-input {
    height: 84px;
    font-size: 42px;
    width: 100%;
    margin: 0px;
    background-color: rgb(69, 69, 69);
    color: white;
    border: 0;
}

.name-input:hover {
    box-shadow: 4px 8px 0px rgb(17, 17, 17);
}

.name-input:focus {
    border: 0px lined rgba(0, 0, 0, 0);
}

.rank-select {
    height: 42px;
    font-size: 24px;
    width: 100%;
    background-color: var(--primary-bg);
    text-overflow: ellipsis;
    color: white;
    margin: 6px 6px;
}

.rank-select:focus-visible {
    border-width: 0px;
}

option {
    display: flex;
    flex-direction: row;
}

option:hover {
    background-color: rgb(56, 56, 56);
}

.name-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100px;
    border-width: 0px;
    border-color: white;
    background-color: black;
}

.button-create-map {
    height: 100%;
    font-size: 32px;
}