.map-name-form{
    display: flex;
    align-items: center;
    gap: 24px;
}

.name-input {
    width: 400px;
    height: 64px;
    font-size: 42px;
    background-color: rgb(69, 69, 69);
    border: 0;
    color: white;
}
.name-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100px;
    border-width: 4px;
    border-color: white; 
    background-color: black;

    p {
    color: white;
    font-size: 24px;
    }
}