.state-option-container,
.empty-option-container {
    display: flex;
    flex-direction: row;
    margin: 0px -4px;
    padding: 8px 0px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-justify: center;
    width: 100%;
    height: 64px;
    gap: 24px;
    background-color: rgb(59, 59, 59);
}

.state-option-wrapper {
    width: 75%;
    height: 64px;
}

.delete-wrapper {
    height: 64px;
    width: fit-content;
}

.state-option-container {
    min-width: 100%;
    background-color: rgb(119, 25, 25);
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    text-wrap-mode: nowrap;
}

.empty-option-container {
    background-color: rgba(63, 63, 63, 0.228);
    border: 4px dashed gray;
    font-size: 32px;
}

.state-name {
    font-size: 42px;
    max-width: 66%;
}
.rank{
    font-size: 28px;
}
.hidden-button {
    display: flex;
    flex-direction: row;
}

.new-game {
    display: flex;
    justify-content: center;
    width: 100%;
}

.new-game-button {
    padding: 6px 54px;
    margin-top: 32px;
    text-wrap-mode: nowrap;
    font-size: 54px;
}

.selection-wrapper {
    height: fit-content;
    width: 420px;
    gap: 32px;
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Jersey 10";
}


.option-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 64px;
    gap: 16px;
}


.delete-button {
    height: 64px;
    margin: 8px 0px;
    padding: 0px 14px;
    text-align: center;
    text-justify: center;
    font-size: 22px;

    div {
        line-height: 24px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 92px;
    text-shadow: 4px 8px 0px rgb(85, 16, 16);

    .logo {
        width: 104px;
        image-rendering: pixelated;
    }
}

.disabled {
    pointer-events: none;

    .state-option-container {
        background-color: rgba(59, 59, 59, 0.453);
        color: rgba(255, 255, 255, 0.178);
    }
}

@media (max-width: 1200px) {
    .selection-wrapper {
        width: 600px;
    }
}