.state-option-container, .empty-option-container {
    display: flex;
    flex-direction: row;    
    margin-bottom: 32px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-justify: center;
    width: 100%;
    height: 64px;
    padding: 12px 0px;   
    background-color: rgb(59, 59, 59);
}
.state-option-container:hover{
    background-color: rgb(29, 29, 29);
}
.empty-option-container{
    background-color: rgba(63, 63, 63, 0.228);
    border: 4px dashed gray;
    font-size: 32px;
}
.state-name {
    font-size: 48px;
    width: fit-content;
    max-width: 66%;
}

.selection-wrapper {
    height: fit-content;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.option-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}
.delete-button{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(119, 25, 25);
    width: 64px;
    height: 42px;
}
.delete-button:hover {
    background-color: rgb(49, 0, 0);
}
.disabled{
    pointer-events: none;
    .state-option-container{
        background-color: rgba(59, 59, 59, 0.453);
        color: rgba(255, 255, 255, 0.178);
    }
}