.header-wrapper {
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 36px 24px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
    text-wrap: no-wrap;
    text-wrap-mode: nowrap;
    height: 32px;
    overflow: hidden;
    font-family: "Jersey 10";
}
.logout-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    
    width: fit-content;
    height: 32px;
}
.logout-button{
    background-color: rgba(0, 0, 0, 0);
    padding: 8px 4px;
    margin: 0px;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
}
.header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:fit-content;
    margin: 0px 0px;
    gap: 24px;
}

a {
    color: white;
    text-decoration: none !important;
}

a:visited {
    color: white;

}

.header-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 128px;
    height: 40px;
    padding: 4px 12px;
    background-color: rgb(51, 51, 51);
    border-radius: 2px;
    gap: 12px;
}


.header-element:hover {
    background-color: rgb(145, 145, 145);
    margin-top: 8px
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-shadow: 2px 3px #07487e;
}

.title-container:hover {
    margin-top: 8px;
}

@media (max-width: 1200px) {
    .title-container {
        font-size: 64px;
    }

    .header-element {
        height: 52px;
        width: 200px;
        font-size: 42px;
    }
}