.game-container {
    max-height: 100vh;
    overflow-y: scroll;
}

.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 952px;
    height: fit-content;
    max-height: 300px;
    padding: 16px 24px;
    background-color: rgba(49, 49, 49, 0.363);
    z-index: 5;
    font-family: "Jersey 10";
    font-weight: 300;
}

.history-container {
    flex: 1 1 auto;
    flex-direction: column;
    word-break: break-all;
    overflow-y: scroll;
    overflow-x: normal;
    overflow-wrap: anywhere;
    white-space: normal;
    text-wrap-mode: wrap;
    justify-content: end;
    width: 100%;
    height: fit-content;
}

.base-string {
    text-wrap-mode: nowrap;
    width: fit-content;
}

.input-line {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
}

.command-input {
    background-color: rgba(149, 149, 149, 0.055);
    border: 0px;
    outline: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 24px;
    resize: both;
    margin: 0;
}

.command-input:focus {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}

.prev-command {
    margin: 0;
}

.mana-display-container {
    display: fixed;
    flex-direction: row;
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.164);
}

.mana-bar {
    background-color: rgb(110, 70, 255);
    height: 100%;
}

.mana-text {
    position: absolute;
    margin-top: -2px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.scroll-container {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    padding: 16px 32px;
    top: 50%;
    left: 50%;
    height: 80vh;
    width: 80vh;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    background-image: url("../images/scroll.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.scroll-header {
    width: 100%;
    font-size: 46px;
    text-align: center;
    margin-top: -8vh;
    color: white;
}

.scroll-content {
    height: 100%;
    width: 50%;
    font-size: 28px;
    text-align: center;
    text-justify: center;
    display: flex;
    justify-content: center;
}

.file-text-input {
    width: 100%;
    height: 90%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    text-align: center;
}

.file-text-input:focus {
    outline: none !important;
    border: 0px;
    border: rgba(255, 255, 255, 0.062);
}

.elements-container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elements-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50vh;
}

.element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 44px;
    min-width: 50px;
}

.element-name {
    text-justify: center;
    text-align: center;
    margin: 0;
}

.alchemist {
    color: tomato;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    min-width: 150px;
    text-align: center;
    image-rendering: pixelated;
}

.door {
    height: 200px;
    width: 180px;
    background-image: url("../images/door.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item {
    font-size: 18px;
    background-color: rgb(122, 109, 35, 0);
    height: 76px;
}

.txt {
    background-image: url("../images/scrollItem.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sh {
    background-image: url("../images/rune.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exe {
    background-image: url("../images/alter_active.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.error{
    color: red;
}

.alter-inactive {
    background-image: url("../images/alter_inactive.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-wrapper {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    flex-direction: row;
    margin: 16px 24px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    height: 32px;
}

.header-group {
    display: flex;
    flex-direction: row;
    margin: 0px 0px;
    gap: 24px;
}

.header-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 4px 12px;
    background-color: rgb(51, 51, 51);
    border-radius: 2px;
    gap: 12px;
}

.header-element:hover {
    background-color: rgb(145, 145, 145);
}

.icon {
    width: 28px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.backdrop {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.575);
}

@media (max-width: 1200px) {
    .spellbook-wrapper {
        max-height: 30vh;
    }

    .header-wrapper {
        width: 92vw;
    }

    .door {
        width: 22vw;
        height: 22vw;
        margin: 12px -34px;
    }

    .item {
        width: 12vw;
        height: 12vw;
        margin: 12px -34px;
    }

    .title-container {
        font-size: 32px;
    }

    .header-element {
        height: 52px;
        width: 160px;
        font-size: 32px;
    }

    .command-input {
        height: 34px;
    }
}