.game-container {
    height: 100vh;
    overflow: hidden;
}

.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 652px;
    padding: 16px 24px;
    background-color: rgba(49, 49, 49, 0.363);
    overflow: hidden;
    z-index: 5;
}

.history-container {
    display: flex;
    flex-direction: column;
}

.input-line {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
}

.command-input {
    background-color: rgba(255, 255, 255, 0.048);
    border: 0px;
    outline: none;
    color: rgb(255, 255, 255);
    width: 100%;
    resize: both;
    margin: 0;
}

.command-input:focus {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}

.prev-command {
    margin: 0;
}

.mana-display-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 700px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.164);
}

.mana-bar {
    background-color: rgb(110, 70, 255);
    height: 100%;
}

.mana-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    padding: 16px 32px;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    background-image: url("../images/scroll.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.scroll-header {
    width: 100%;
    font-size: 46px;
    text-align: center;
}

.scroll-content {
    width: 55%;
    height: 100%;
    font-size: 28px;
    text-align: center;
    text-justify: center;
    display: flex;
    justify-content: center;
}

.elements-container {
    margin-top: 64px;
}

.elements-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 84px;
    min-width: 50px;
}

.element-name {
    text-justify: center;
    text-align: center;
    margin: 0;
}

.alchemist {
    color: tomato;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    min-width: 150px;
    text-align: center;
    image-rendering: pixelated;
}

.door {
    height: 200px;
    width: 180px;
    background-image: url("../images/door.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item {
    font-size: 18px;
    background-color: rgb(122, 109, 35, 0);
    height: 76px;
}

.txt {
    background-image: url("../images/scrollItem.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sh {
    background-image: url("../images/rune.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exe {
    background-image: url("../images/alter_active.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.inactive-alter {
    background-image: url("../images/alter_inactive.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-wrapper {
    display: flex;
    width: 98vw;
    flex-direction: row;
    margin-top: 16px;
    position: absolute;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    height: 32px;
}

.header-group {
    display: flex;
    flex-direction: row;
    margin: 0px 0px;
    gap: 24px;
}

.header-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 4px 12px;
    background-color: rgb(51, 51, 51);
    border-radius: 2px;
    gap: 12px;
}

.header-element:hover {
    background-color: rgb(145, 145, 145);
}

.icon {
    width: 28px;
}

a {
    color: white;
    text-decoration: none;
}

.apprentice {
    color: rgb(235, 206, 42);
}

.archivist {
    color: tomato;
}

.conjurer {
    color: rgb(48, 181, 199)
}

.root {
    color: rgb(150, 48, 218)
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}