.ui-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: absolute;
    height: 320px;
    width: 500px;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.041);
    overflow: hidden;
}
.history-container {
    display: flex;
    flex-direction: column;
}
.input-line{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.command-input{
    background-color: rgba(255, 255, 255, 0.014);
    border: 0px;
    outline: none;
    color: rgba(255, 255, 255, 0.082);
    margin: 0;
}
.command-input:focus{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}
.prev-command {
    margin: 0;
}
.mana-display-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 24px;
    align-items: center;
    width: 700px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.041);
}
.mana-bar{
    background-color: rgb(110, 70, 255);
    height: 100%;
}
.mana-text{
position: absolute; 
}