.game-container {
    max-height: 95vh;
    margin-top: -48px;
    overflow-y: scroll;
    font-family: "Jersey 10";
}

.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 952px;
    height: fit-content;
    max-width: 80%;
    max-height: 380px;
    padding: 16px 24px;
    background-color: rgba(27, 27, 27, 0.856);
    border: 4px;
    z-index: 100;
    font-weight: 300;
    font-size: 28px;
}

.history-container {
    flex: 1 1 auto;
    flex-direction: column;
    line-height: 0.8em;
    word-break: break-all;
    overflow-y: scroll;
    overflow-x: normal;
    overflow-wrap: anywhere;
    white-space: normal;
    text-wrap-mode: wrap;
    justify-content: end;
    width: 100%;
    height: fit-content;
}

.base-string {
    display: flex;
    align-items: end;
    justify-content: end;
    text-wrap-mode: nowrap;
    width: fit-content;
    margin: 0;
    padding: 0;
    line-height: 0.8em;
}

span {
    margin: 0px;
    padding: 0px;
}

.input-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: fit-content;
}

.command-input {
    background-color: rgba(149, 149, 149, 0.055);
    border: 0px;
    outline: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 24px;
    resize: both;
    margin: 0;
}

.command-input:focus {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}

.prev-command {
    margin: 0;
}

.xp-display-container {
    flex-direction: row;
    position: fixed;
    bottom: -14px;
    left: 50%;
    transform: translate(-50%, 50%);
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.164);
}

.xp-bar {
    background-color: rgb(110, 70, 255);
    height: 100%;
}

.xp-text {
    position: absolute;
    margin-top: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scroll-container {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 16px 32px;
    top: 50%;
    left: 50%;
    height: 80vh;
    width: 80vh;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    background-image: url("../images/scroll.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.scroll-header {
    width: 100%;
    font-size: 46px;
    text-align: center;
    margin-top: -8vh;
    color: white;
}

.scroll-content {
    margin-left: 44px;
    height: 90%;
    width: 55%;
    font-size: 28px;
    text-align: center;
    text-justify: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.file-text-input {
    width: 90%;
    height: 90%;
    font-size: 18px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0);
    word-break: normal;
    text-wrap-mode: wrap;
    overflow-wrap: anywhere;
    overflow-y: scroll;
    border-width: 0px;
    text-align: left;
}

.file-text-input::-webkit-scrollbar {
    width: 0px;
}

.file-text-input:focus {
    outline: none !important;
    border: 0px;
    border: rgba(255, 255, 255, 0.062);
}

.save-scroll-button {
    position: absolute;
    width: fit-content;
    z-index: 1000;
    margin: 0;
    padding: 12, 16px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -5%);
    background-color: rgba(240, 255, 255, 0);
    border-width: 0px;
}

.save-scroll-button::before {
    content: '';
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.74);
    /* background: radial-gradient(100deg, #3B53D6,#4AFAFA); */
    filter: blur(15px);
}

.save-scroll-button:hover {
    color: rgb(218, 218, 218);
    font-size: 50px;

}

.save-scroll-button:hover::before {
    background-color: rgba(56, 56, 56, 0.74);
    filter: blur(25px);
}

.elements-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elements-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50vh;
}

.element-container {
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: end;
    font-size: 32px;
    align-items: center;
    margin: 12px 22px;
    min-width: 50px;
}

.element-name {
    text-justify: center;
    text-align: center;
    margin: 0;
}

.action-tip{
    color:rgb(255, 199, 115);
}
.element {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 150px;
    min-width: 150px;
    text-align: center;
    image-rendering: pixelated;
}

.door {
    height: 200px;
    width: 180px;
    background-image: url("../images/door.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item {
    font-size: 18px;
    background-color: rgb(122, 109, 35, 0);
    height: 84px;
}

.txt {
    background-image: url("../images/scrollItem.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sh {
    background-image: url("../images/rune.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exe {
    background-image: url("../images/alter_active.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.error {
    color: red;
}

.alter-inactive {
    background-image: url("../images/alter_inactive.png");
    background-size: fit-content;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .spellbook-wrapper {
        max-height: 30vh;
        min-width: 95vw;
        font-size: 42px;
    }

    .element-container {
        font-size: 42px;
    }

    .door {
        width: 22vw;
        height: 22vw;
        margin: 12px -48px;
    }

    .item {
        width: 12vw;
        height: 12vw;
        margin: 12px -48px;
    }

    .xp-display-container {
        height: 50px;
    bottom: -25px;
    }

    .xp-text {
        font-size: 42px;
    }

    .command-input {
        height: 34px;
    }
}