.main-wrapper {
    height: 100vh;
}
.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: absolute;
    height: 320px;
    width: 500px;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.041);
}
.input-line{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.command-input{
    background-color: rgba(255, 255, 255, 0.014);
    border: 0px;
    outline: none;
    color: white;
    margin: 0;
    
}
.command-input:focus{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}
.prev-command {
    margin: 0;
}