.game-container {
    height: 100vh;
    overflow: hidden;
}

.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 652px;
    padding: 16px 24px;
    background-color: rgba(49, 49, 49, 0.363);
    overflow: hidden;
    z-index: 5;
}
.history-container {
    display: flex;
    flex-direction: column;
}
.input-line{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
}
.command-input{
    background-color: rgba(255, 255, 255, 0.048);
    border: 0px;
    outline: none;
    color: rgb(255, 255, 255);
    width: 100%;
    resize: both;
    margin: 0;
}
.command-input:focus{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}
.prev-command {
    margin: 0;
}
.mana-display-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 700px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.164);
}
.mana-bar{
    background-color: rgb(110, 70, 255);
    height: 100%;
}
.mana-text{
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0%);
}
.scroll-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 143);
    color: black;
    width: 524px;
    height: 764px;
    z-index: 10;
}
.scroll-header{
    width: 100%;
    font-size: 46px;
    text-align: center;
}j
.scroll-content{
    width: 75%;
    height: 100%;
    font-size: 36px;
    text-align: center;
    text-justify: center;
    display: flex;
    justify-content: center;
}
.elements-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 84px;
    padding: 12px 18px;
    height: 180px;
    min-width: 50px;
    background-color:rgb(84, 31, 31);

}
.item {
    font-size: 18px;
    background-color: rgb(122, 109, 35);
    height: 80px;
}