.ui-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
}
.page-content {
    justify-content: start;
    align-items: center;
}
.back-button {
}
.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.profile-picture {
    width: 180px;
    height:  180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #444;
    background-color: #222;

}
.profile-upload-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}